# Python キャッシュ・ビルド
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# VSCode ローカル設定
.vscode/

# 仮想環境
.venv/
env/
venv/

# 出力フォルダ（空フォルダだけを保持）
!output/
!output/videos/
!output/images/
!output/others/
output/videos/*
!output/videos/.gitkeep
output/images/*
!output/images/.gitkeep
output/others/*
!output/others/.gitkeep

# ログ
log/*
!log/.gitkeep

# 入力
input/*
!input/.gitkeep
